/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nickjhathaway/elucidatornf Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

import nextflow.util.SysHelper
import nextflow.util.MemoryUnit

// Global default params, used in configs
params {

    //project wide setting
    empty_file_fnp = "${projectDir}/etc/EMPTY_FILE.txt"

    // PathWeaver params
    pw_ncpus = 4       // Number of extract region threads
    pw_pop_clustering_ncpus = 10       // Number of population clustering threads
    pw_seqs_table = null
    pw_seqs_table_seqs_col = null
    pw_seqs_table_name_col = null
    pw_seqs_table_target_col = null
    pw_gene_ids = null
    pw_samples_file = null
    pw_bed_fnp = null
    genome_fnp = null
    bams_dir = null
    bams_file_ending = ".sorted.bam"
    meta_fnp = params.empty_file_fnp //sample meta
    render_pw_report = false

    //additional options
    run_sub_segments_determination = false
    correction_occurence_cut_off = 5
    low_freq_cut_off = 5

    // variant calling options
    do_variant_calling = false
    variant_calling_ncpus = 10
    known_amino_acid_changes_fnp = "${projectDir}/etc/EMPTY_FILE.txt"
    vc_variant_frequency_cut_off = 0.0099
    vc_variant_occurrence_cut_off = 2
    vc_no_pairwise_comps = false
    vc_primary_genome = false
    meta_fields_to_calc_pop_diffs = "" //region,country,subRegion,secondaryRegion
    vc_extra_args = ""

    //nanopore clustering
    nanopore_clustering_min_len = 100
    nanopore_clustering_min_sample_read_count = 10
    nanopore_primers_errors_allowed = 2
    nanopore_clustering_ncpus = 2
    nanopore_extractor_use_inner_primers = false;
    nanopore_clustering_lower_base = null //remove, upper are the options
    nanopore_extractor_primer_within_start = null //500
    amplicon_clustering_test_number = null
    amplicon_clustering_number_of_files_to_investigate = null
    input_fastq_dir = null
    primers_fnp = null
    genome_dir = null
    gff_dir = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    monochrome_logs              = false

    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    // pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    // custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Max Job Request Parameters
    max_retry = 3
    max_time = 4.h
    max_memory = _get_avail_memory().GB
    max_cpus = _get_avail_cpus()
    max_concurrent_tasks = _get_avail_cpus()

    // Schema validation default options
    validate_params            = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// load profiles
includeConfig "conf/profiles.config"

// Load nf-core custom profiles from different Institutions
// includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nickjhathaway/elucidatornf custom profiles from different institutions.
// TODO nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/elucidatornf.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
// apptainer.registry    = 'quay.io'
// docker.registry       = 'quay.io'
// podman.registry       = 'quay.io'
// singularity.registry  = 'quay.io'
// charliecloud.registry = 'quay.io'

// apptainer.registry    = 'docker://'
// docker.registry       = 'docker://'
// singularity.registry  = 'docker://'




// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = """\
bash

set -e # Exit if a tool returns a non-zero status/exit code
set -u # Treat unset variables and parameters as an error
set -o pipefail # Returns the status of the last command to exit with a non-zero status or zero if all successfully execute
set -C # No clobber - prevent output redirection from overwriting files.
"""

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

//@todo re-enable as these are helpful reports, just hard to tell where to put them when having just a collection tools, likely will have to split out
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    //enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    // enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'nickjhathaway/elucidatornf'
    author          = """Nicholas Hathaway"""
    homePage        = 'https://github.com/nickjhathaway/elucidatornf'
    description     = """A collection of workflows to stream together tools from within elucidator"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    help {
        enabled = true
        command = "nextflow run $manifest.name -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"

    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'



// Function to ensure that resource requirements don't go beyond a maximum limit
// Source: https://github.com/nf-core/rnaseq/blob/master/nextflow.config
resources = get_resources(this.conditionValues.profiles, params.max_memory, params.max_cpus)

params {
    resources = resources
}

// this function is then used in the profiles for memory ussage
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(resources.max_memory as nextflow.util.MemoryUnit) == 1)
                return resources.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            System.err.println "   ### ERROR ###   Max memory '${resources.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            System.err.println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, resources.max_cpus as int )
        } catch (all) {
            System.err.println "   ### ERROR ###   Max cpus '${resources.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

def get_resources(profile, max_memory, max_cpus) {
    /* Adjust memory/cpu requests for standard profile only */
    def Map resources = [:]
    resources.max_memory = profile.any{ ['standard', 'docker', 'singularity'].contains(it) } ? _get_max_memory(max_memory).GB : max_memory
    resources.max_memory_int = resources.max_memory.toString().split(" ")[0]
    resources.max_memory_adjusted = resources.max_memory < max_memory
    resources.max_cpus = profile.any{ ['standard', 'docker', 'singularity'].contains(it) } ? _get_max_cpus(max_cpus.toInteger()) : max_cpus.toInteger()
    resources.max_cpus_adjusted = resources.max_cpus < max_cpus.toInteger()
    resources.max_cpus_75 = Math.round(resources.max_cpus * 0.75)
    resources.max_cpus_50 = Math.round(resources.max_cpus * 0.50)
    resources.max_cpus_1 = 1
    return resources
}


def _get_max_memory(requested) {
    /* Get the maximum available memory for the given system */
    def available = Math.floor(Double.parseDouble(SysHelper.getAvailMemory().toGiga().toString().split(" ")[0]) * 0.99).toInteger()
    requested = MemoryUnit.of(requested.toString()).toGiga().toString().split(" ")[0].toInteger()
    if (available < requested) {
        //System.err.println("WARNING: Maximum memory (${requested} GB) was adjusted to fit your system (${available} GB)")
        return available
    }

    return requested
}

def _get_avail_cpus(){
    def available = SysHelper.getAvailCpus()
    if(available > 1){
        return available - 1
    }else{
        return 1
    }
}

def _get_avail_memory(){
    return Math.floor(Double.parseDouble(SysHelper.getAvailMemory().toGiga().toString().split(" ")[0]) * 0.99).toInteger()
}

def _get_max_cpus(requested) {
    /* Get the maximum available cpus for the given system */
    def available = _get_avail_cpus()
    if (available < requested) {
        //System.err.println("WARNING: Maximum CPUs (${requested}) was adjusted to fit your system (${available})")
        return available
    }
    return requested
}


