/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nickjhathaway/elucidatornf Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, organized by workflow under conf/params/.
// Order matters: global.config first (later files reference its params, e.g.
// meta_fnp = params.empty_file_fnp). All are included so params remain visible
// to `nextflow config` and `nf-core pipelines schema build` regardless of which
// entry workflow is run.
includeConfig 'conf/params/global.config'          // shared by all workflows
includeConfig 'conf/params/variant_calling.config' // shared: illumina + nanopore + pathweaver
includeConfig 'conf/params/amplicon.config'        // shared: illumina + nanopore
includeConfig 'conf/params/wgs_common.config'      // shared: wgs + rnaseq
includeConfig 'conf/params/illumina.config'        // illumina_clustering.nf
includeConfig 'conf/params/nanopore.config'        // nanopore_clustering.nf
includeConfig 'conf/params/pathweaver.config'      // pathweaver_extract_regions.nf
includeConfig 'conf/params/rnaseq.config'          // rnaseq_process_pf.nf
includeConfig 'conf/params/wgs.config'             // wgs_preprocess_pf.nf

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// load profiles
includeConfig "conf/profiles.config"

// Load nf-core custom profiles from different Institutions
// includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nickjhathaway/elucidatornf custom profiles from different institutions.
// TODO nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/elucidatornf.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
// apptainer.registry    = 'quay.io'
// docker.registry       = 'quay.io'
// podman.registry       = 'quay.io'
// singularity.registry  = 'quay.io'
// charliecloud.registry = 'quay.io'

// apptainer.registry    = 'docker://'
// docker.registry       = 'docker://'
// singularity.registry  = 'docker://'




// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

  // Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_timestamp}.html"
}

manifest {
    name            = 'nickjhathaway/elucidatornf'
    author          = """Nicholas Hathaway"""
    homePage        = 'https://github.com/nickjhathaway/elucidatornf'
    description     = """A collection of workflows to stream together tools from within elucidator"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// validation {
//     defaultIgnoreParams = ["genomes"]
//     help {
//         enabled = true
//         command = "nextflow run nickjhathaway/elucidatornf -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
//         fullParameter = "help_full"
//         showHiddenParameter = "show_hidden"

//     }
// }

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'


