/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // publishDir = [
    //     path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //     mode: params.publish_dir_mode,
    //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    // ]

    withName: 'EXTRACTOR_BY_KMER_MATCHING' {
        // Assign a closure which returns a string
        ext.args = { [
            // params.nanopore_extractor_primer_within_start ? "--primerWithinStart ${params.nanopore_extractor_primer_within_start}" : ""
        ].join(" ")
        }
    }
    withName: 'AMPLICON_CLUSTER_AUTO_SEEKDEEP_FLAG_GENERATOR' {
        // Assign a closure which returns a string
        ext.args = { [
            params.amplicon_clustering_test_number ? "--testNumber ${params.amplicon_clustering_test_number}" : "",
            params.amplicon_clustering_number_of_files_to_investigate ? "--numberOfFilesToInvestigate ${params.amplicon_clustering_number_of_files_to_investigate}" : "",
            params.nanopore_extractor_primer_within_start ? "--extraExtractorCmds=\"--primerWithinStart ${params.nanopore_extractor_primer_within_start}\"" : ""
        ].join(" ")
        }
    }
    withName: 'PATHWEAVER_POP_CLUSTERING_WITH_TRIM_BED' {
        // Assign a closure which returns a string
        ext.args = { [
            params.pw_pop_clustering_extra_args ? "${params.pw_pop_clustering_extra_args}" : "",
        ].join(" ")
        }
    }
    withName: 'PATHWEAVER_POP_CLUSTERING' {
        // Assign a closure which returns a string
        ext.args = { [
            params.pw_pop_clustering_extra_args ? "${params.pw_pop_clustering_extra_args}" : "",
        ].join(" ")
        }
    }
    withName: 'AMPLICON_POPULATION_CLUSTERING' {
        // Assign a closure which returns a string
        ext.args = { [
            params.amplicon_clustering_pop_clustering_extra_args ? "${params.amplicon_clustering_pop_clustering_extra_args}" : "",
        ].join(" ")
        }
    }
    withName: 'EXTRACT_REGION_ASSEMBLIES' {
        // Assign a closure which returns a string
        ext.args = { [
            params.pw_extract_region_assemblies_extra_args ? "${params.pw_extract_region_assemblies_extra_args}" : "",
        ].join(" ")
        }
    }
    withName: 'AMPLICON_CLUSTER_BY_KMER_SIMILARITY' {
        // Assign a closure which returns a string
        ext.args = { [
            params.amplicon_clustering_test_number ? "--testNumber ${params.amplicon_clustering_test_number}" : "",
            params.amplicon_clustering_number_of_files_to_investigate ? "--numberOfFilesToInvestigate ${params.amplicon_clustering_number_of_files_to_investigate}" : ""
        ].join(" ")
        }
    }
    withName: 'GET_SUB_SEGMENTS_FROM_FASTA' {
        // Assign a closure which returns a string
        ext.args = { [
            params.sub_segments_uniqueHapCountCutOff ? "--uniqueHapCountCutOff ${params.sub_segments_uniqueHapCountCutOff}" : "",
            params.sub_segments_extra_args ? " ${params.sub_segments_extra_args}" : ""
        ].join(" ")
        }
    }
    withName: 'RUN_WGS_PREPROCESS_PF:FINAL_MAP_BWA' {
        publishDir = [
        path: { params.outdir },
        mode: 'move',
        pattern: '*.sorted.bam{,.bai}'
        ]
    }
}
