/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Illumina clustering params — illumina_clustering.nf only
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    illumina_clustering_paired_end_length = null
    illumina_clustering_error_profile = "illumina"
    illumina_clustering_min_sample_read_count = 50
    illumina_clustering_population_ncpus = 2
    illumina_clustering_trim_front = 1
    illumina_clustering_trim_back = 1
}
