/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PathWeaver params — pathweaver_extract_regions.nf only
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // PathWeaver params
    pw_ncpus = 4                  // Number of extract region threads
    pw_pop_clustering_ncpus = 10  // Number of population clustering threads
    pw_seqs_table = null
    pw_seqs_table_seqs_col = null
    pw_seqs_table_name_col = null
    pw_seqs_table_target_col = null
    pw_gene_ids = null
    pw_samples_file = null
    pw_bed_fnp = null
    pw_extract_region_assemblies_extra_args = null
    genome_fnp = null
    bams_dir = null
    bams_file_ending = ".sorted.bam"
    render_pw_report = false
    pw_pop_clustering_extra_args = null
    pw_overwrite_dir = false

    // pw additional options
    run_sub_segments_determination = false
    sub_segments_correction_occurence_cut_off = 5
    sub_segments_low_freq_cut_off = 5
    sub_segments_uniqueHapCountCutOff = 1
    sub_segments_extra_args = null
}
